- klass = action.method.downcase
.action{ class: klass }
  .method{ class: klass }=action.method
  .subresource
    %a{ href: 'javascript:void(0);' }= action.path
    %span= " : #{action.label}"
    %span.visibility= format_visibility(action)
  .clear
  %form.hidden{ action: action.path, method: action.method }
    - if action.description
      .description= markdown.render(action.description)
    - if action.visibility == :beta
      .warning= 'This API is still under development and will continue to evolve.'
    - if config.examples && action.examples.any?
      .examples
        - action.examples.each do |example|
          = haml :example, locals: { action: action, example: example }
    - if action.parameters.any?
      %table.parameters
        %tr
          %th='Parameter'
          %th='Value'
          %th='Type'
          %th='Description'
        - action.parameters.each do |parameter|
          = haml :parameter, locals: { parameter: parameter }
      = haml :response
