.controllers
  - collection.each do |controller|
    .controller
      .resource
        %a{ href: 'javascript:void(0);' }= controller.path
        %span= " : #{controller.label}"
      .actions.hidden
        - controller.actions.each do |action|
          - klass = action.method.downcase
          .action{ class: klass }
            .method{ class: klass }=action.method
            .subresource
              %a{ href: 'javascript:void(0);' }= action.path
              %span= " : #{action.label}"
            .clear
            %form.hidden{ action: action.path, method: action.method }
              %table
                %tr
                  %th='Parameter'
                  %th='Value'
                  %th='Type'
                  %th='Description'
                - action.parameters.each do |param|
                  - placeholder = param.required ? 'required' : nil
                  %tr
                    %td=param.name
                    %td
                      - case param.type
                      - when :enumeration
                        %select{ name: param.name }
                          - if !param.required && !param.default
                            %option
                          - param.values.each do |value|
                            %option{ value: value, selected: (value == param.default) }=value
                      - when :array
                        %input.add{ type: 'button', value: 'Add', :'data-name' => param.name }
                        %input.remove.hidden{ type: 'button', value: 'Remove' }
                      - else
                        %input{ type: 'text', name: param.name, value: param.default, placeholder: placeholder }
                    %td=param.type.to_s.capitalize
                    %td=param.label
              - if auth.live
                %input{ type: 'submit', value: 'Try it' }
                %input.clear.hidden{ type: 'button', value: 'Clear' }
                .response.hidden
                  %p="Url:"
                  %pre.url
                  %p="Query:"
                  %pre.query
                  %p="Code:"
                  %pre.code
                  %p="Headers:"
                  %pre.headers
                  %p="Body:"
                  %pre.body
